<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
id="OauthPlugin"
version="1.0.0">

	<name>OauthPlugin</name>
	<description>Echo Plugin for Steroids.js</description>
	<asset src="www/oAuthPlugin.js" target="plugins/oAuthPlugin.js" />
	<engines>
		<engine name="cordova" version=">=2.7.0" />
	</engines>
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="OauthPlugin" >
				<param name="android-package" value="OauthPlugin"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.VIBRATE" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.RECEIVE_SMS" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.RECORD_VIDEO" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-permission android:name="android.permission.READ_CONTACTS" />
			<uses-permission android:name="android.permission.WRITE_CONTACTS" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.GET_ACCOUNTS" />
			<uses-permission android:name="android.permission.BROADCAST_STICKY" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.persistentsys.plugin.RedirectedActivity" >
				<intent-filter>
					<action android:name="android.intent.action.VIEW" />
					<action android:name="com.example.intentdemo.LAUNCH" />
					<category android:name="android.intent.category.DEFAULT" />
					<category android:name="android.intent.category.BROWSABLE" />
					<category android:name="android.intent.category.LAUNCHER" />
					<data android:scheme="igreet" />
				</intent-filter>
			</activity>
		</config-file>
		
		<source-file src="src/android/OauthPlugin.java" target-dir="src/android/" />
		
		<source-file src="src/android/com/persistent/sso/lib/PeasClientAuthenticationAuthorizeListener.java" target-dir="src/android/com/persistent/sso/lib/" />
		<source-file src="src/android/com/persistent/sso/lib/PeasClientAuthenticationException.java" target-dir="src/android/com/persistent/sso/lib/" />
		<source-file src="src/android/com/persistent/sso/lib/PeasClientAuthenticationTokenListener.java" target-dir="src/android/com/persistent/sso/lib/" />
		<source-file src="src/android/com/persistent/sso/lib/PeasClientAuthenticator.java" target-dir="src/android/com/persistent/sso/lib/" />
		
		<source-file src="src/android/com/persistent/sso/network/NetworkUtility.java" target-dir="src/android/com/persistent/sso/network/" />
		<source-file src="src/android/com/persistent/sso/network/NetworkUtilityListener.java" target-dir="src/android/com/persistent/sso/network/" />
		
		<source-file src="src/android/com/persistentsys/plugin/OAuthPluginListener.java" target-dir="src/android/com/persistentsys/plugin/" />
		<source-file src="src/android/com/persistentsys/plugin/RedirectedActivity.java" target-dir="src/android/com/persistentsys/plugin/" />

	</platform>
	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*/plugins">
			<plugin name="OauthPlugin" value="OauthPlugin" onload="true" />
		</config-file>
		<config-file target="config.xml" parent="/widget">
			<feature name="OauthPlugin">
				<param name="ios-package" value="OauthPlugin"/>
			</feature>
		</config-file>
		<header-file src="src/ios/OauthPlugin.h" />
		<source-file src="src/ios/OauthPlugin.m" />
		<header-file src="src/ios/PEASOAuthLibrary.h" />
		<source-file src="src/ios/PEASOAuthLibrary.m" />

	</platform>
</plugin>