<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
id="OauthPlugin"
version="1.0.0">

	<name>OauthPlugin</name>
	<description>Echo Plugin for Steroids.js</description>
	<asset src="www/oAuthPlugin.js" target="plugins/oAuthPlugin.js" />
	<engines>
		<engine name="cordova" version=">=2.7.0" />
	</engines>

	<!-- android -->
	<!-- <platform name="android">
	<config-file target="res/xml/config.xml" parent="plugins">
	<plugin name="Echo" value="com.appgyver.plugin.Echo"/>
	</config-file>
	<source-file src="src/android/com/appgyver/plugin/Echo.java"
	target-dir="src/com/appgyver/plugin" />
	</platform> -->
	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*/plugins">
			<plugin name="OauthPlugin" value="OauthPlugin" onload="true" />
		</config-file>
		<config-file target="config.xml" parent="/widget">
			<feature name="OauthPlugin">
				<param name="ios-package" value="OauthPlugin"/>
			</feature>
		</config-file>
		<header-file src="src/ios/OauthPlugin.h" />
		<source-file src="src/ios/OauthPlugin.m" />

	</platform>
</plugin>